@charset 'utf-8';
/* Google font import */
@import url("https://fonts.googleapis.com/css?family=Nunito|Roboto&display=swap");

:root {
  --primary-blue: rgb(42, 8, 227);
  --primary-pink: rgb(145, 8, 227);
  --success: #048ad4;
  --error: rgb(212, 4, 4);
}

* {
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to bottom right, var(--primary-blue), var(--primary-pink)) fixed;
  width: 100vw;
  height: 100vh;
  font-family: "Nunito", sans-serif;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  border-radius: 8px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden; 
}

h1 {
  background: #f5f5f5;
  color: var(--primary-pink);
  text-align: center;
  font-size: 1.5rem;
  padding: 16px 0;
}

form {
  padding: 16px;
}

.form-control {
  margin-bottom: 2px;
  padding: 4px 8px;
}

.form-control label {
  display: block;
  color: #0e0a0a;
  margin-bottom: 4px;
  font-weight: bold;
}

.form-control input {
  border-bottom: 1px solid #d1d1d1;
  display: block;
  width: 100%;
  padding: 4px 0;
  font-size: 14px;
  text-indent: 2px;
}

.form-control input:focus {
  border-bottom: 1px solid var(--primary-pink);
}

.form-control small {
  color: var(--error);
  visibility: hidden;
}

button {
  width: 100%;
  padding: 8px 24px;
  font-size: 1rem;
  background: linear-gradient(to right, var(--primary-pink), var(--primary-blue));
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: var(--primary-pink);
}

button span {
  margin-left: 8px;
}

button:hover span {
  margin: 10px;
}

p {
  text-align: center;
  margin: 4px auto;
  font-size: 0.9rem;
}

a:link,
a:visited,
a:active {
  color: var(--primary-blue);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

a:hover {
  color: var(--primary-pink);
}

p > a {
  margin-left: 4px;
}

/* Show success or error */
.form-control.success input {
  border-bottom: 1px solid var(--success);
  color: var(--success);
}

.form-control.error input {
  border-bottom: 1px solid var(--error);
}

.form-control.error input::placeholder {
  color: rgba(212, 4, 4, 0.75);
}

.form-control.error small {
  visibility: visible;
}
